<!DOCTYPE html>
<html>
<head>
    <title>Sales Data</title>
</head>
<body>
    <h1>Sales Data Table</h1>
    <table border="1">
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
